extends layout.pug
mixin getCartInfo(cartItems)
    ul
        each product in cartItems
            li

block content
    body
        header
            h2.text-center
                b Your Cart
            hr
        .container.rounded
                .row
                    .col-12
                        form.form(action='/cart', method='GET')
                            ul
                                each product in cartItems
                                    .container#cart.justify-content-center.rounded
                                        .row.lg-3
                                            .col-lg-4
                                                img(src=`https://seniorprojectcmps450.s3.amazonaws.com/images/${product.sku}`, style="max-width: 80%; height: auto;")
                                            .col-lg-4
                                                p
                                                    b=`${product.brand}`
                                                p
                                                    b=`${product.product} - $${product.price}`
                                                p
                                                    label#cartQuantity.text-black.text-start 
                                                    b Quantity:
                                                        select#cartQuantity(name="quantity")
                                                            option(value= `${product.stock}`, type="number", max=`${product.stock}`, min=`${product.quantity}`)= `${product.quantity}`
                                            .col-6
                                            br
                                            hr
                                        .row.lg-3
                                            p
                                                button.btn.btn-danger.float-right(type="submit")= 'Remove'
                                p.text-end
                                    b Total: $#{totalPrice}
                                    br
                                    button.btn.btn-success.float-left.my-2(type="submit")= 'Checkout'

                                    script(src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js", integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM", crossorigin="anonymous")
                                    script.
                                        jQuery(document).ready(function() {
                                                jQuery('img.center-img.thumbnails').nailthumb({width:335,height:185, method:'resize'});
                                        });


