extends layout.pug
mixin getProductBySku(product)
    ul
        each product in products
            li

block content
    body
        .container-fluid
            form(action="/cart" method="POST")
                .row.justify-content-center
                    .col-lg-4
                        img(src=`https://seniorprojectcmps450.s3.amazonaws.com/images/${product.sku}`, style="max-width: 80%; height: auto;")
                    .col-lg-3
                        .row
                            .col-12.textcap
                                h4.card-title.text-start
                                    b= `${product.brand}`
                                p.text-start
                                    b= `${product.title}`
                                p.text-start
                                    b= `${product.price}`
                        .row
                            .col-12.my-2
                                label.text-black.text-start(for="sizing-dropdown") Size
                                br
                                select#sizing-dropdown(name="size")
                                    option(value=`${product.size}`)= `${product.size}`
                        .row
                            .col-12.my-2
                                label.text-black.text-start(for="condition-dropdown") Condition
                                br
                                select#condition-dropdown(name="condition")
                                    option(value=`${product.condition}`)= `${product.condition}`
                        .row
                            .col-12.my-2
                                label.text-black.text-start(for="quantity-dropdown") Quantity
                                br
                                input(name="quantity", value="1", type="number", max=`${product.stock}`, min="1")
                        .row
                            .col-12.my-2
                                button.btn.btn-outline-success.btn-lg.cartbtn(type="submit") Add To Cart



